# dataset
face_shape_classifier/

# python env
final_env/
venv/

# node
node_modules/
frontend/node_modules/
backend/node_modules/

frontend/public/
backend/public/

# build
dist/
build/
.next/

# env
.env